<!-- UI Changes pending -->
<div class="container" style="margin-top: 10rem">
	<div class="grid-table">
	  <div class="thead">
		<div class="tr">
		  <div class="td">Review Cycle Name</div>
		  <div class="td">Initiative</div>
		</div>
	  </div>
	  <div class="tbody">
		  <form class="tr" [formGroup]="fg" *ngFor="let fg of reviewCycleForms.controls">
			  <div class="td">
				  <input class="form-control" formControlName="reviewCycleName">
			  </div>
			  <div class="td">
				  <input class="form-control" formControlName="initiativeId">
			  </div>
			  <div class="td">
				  <button type="submit" class="btn btn-success" [disabled]="fg.invalid"><i class="far fa-save fa-lg"></i>Submit</button>
			  </div>
		  </form>
	  </div>
	</div>
  </div>